* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    
}
body{
    /*background: #4FA2FE;*/
    background: #fff;
    color: #000;
}

html{
    scroll-behavior: smooth;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url("davide-ragusa-2238-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto
}

.logoContainer{
    background: rgba(0, 0, 0, 0.7);
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 50px;
}

.flechaContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end
}

.flecha{
    margin-top: 80px;
    width: 150px;
    height: 80px;
    transition: all 1s ease
}

.flecha:hover{
    transform: scale(1.5)
}

.logo{
    width: 100%;
    height: 100%;
    transition: all 0.8s ease-in-out
}

.logo:hover{
    transform: rotate(360deg)
}

.proyectos{
    width: 100%
}

.containerArticulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    margin: 30px 15px;
}

.cajaPresentacion{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.articulo{
    margin: auto;
    width: 60%;
    text-align: justify;
    font-size: 23px;
    padding: 10px;
    line-height: 35px;
    margin-bottom: 50px;
}

.stack{
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin: 50px;
}

.stackIcons{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
}

.ico{
    padding: 25px;
    border-radius: 10px;
    background: #000;
    transition: all 0.4s ease-in-out;
    color: #fff;
}

.html{
    background: #e34f26
}

.js{
    background: #f7df1e
}

.css{
    background: #178ccb
}

.jquery{
    background: #34bf49
}

.ibm{
    background: #006699
}

.ps{
    background: #004883
}

.sass{
    background: #fc636b
}

.react{
    background: #00d8ff
}

.php{
    background: #8892be
}

.sql{
    background: #f29111
}

.laravel{
    background: #f55247
}

.poo{
    background: #2a2a2a
}

.symfony{
    background: #ffdd00
}

.wordpress{
    background: #87a6bc
}

.divs{
    width: 80%;
    margin: 30px 0; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.projectTitle{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.proyectosCajas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.project1 img, .project2{
    width: 300px;
    height: 300px;
    margin: 30px 50px;
    background: rgb(163, 163, 163);
    transition: all 0.4s ease-out    
}


.project1 img:hover{
    transform: scale(1.1);
    border-radius: 30px;
    filter: grayscale(10%)
}

.projectText{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 50px;
    transition: all 0.4s ease-out
} 



.projectText:hover{
    opacity: 1;
}


.Text{
    width: 100%;
    height: 100%;
}


.contactTitle{
    padding: 10px;
    margin: 10px;
    font-size: 50px;
}

.contacto{
    color: #fff;
    margin-top: 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1f1f1f 
}

.contactoIco{
    margin: 80px 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.lista{
    list-style: none;
    text-decoration: none;
    margin: 0 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista li{
    position: relative;
    list-style: none;
    width: 100px;
    height: 100px;
    transform: rotate(-30deg) skew(25deg);
}



.lista .twitter1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1da1f2;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
}

.lista .git1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6e5494;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
}

.lista .link1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #86888a;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
}


.lista:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}

.lista:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: .8;
}

.lista:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: .6;
}

.lista:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: .4;
}

.lista span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: .2;
}

.ico:hover{
    transform: scale(1.3);
    box-shadow: 3px 3px 10px #000
}

.footer{
    width: 100%;
}

.footer p{
    background: #2d4ddb;
    color: #fff;
    padding: 20px;
    text-align: center
}

@media screen and (max-width:850px){
    .lista li{
        width: 70px;
        height: 70px;
    }

    .proyectosCajas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .project1 img, .project2{
        width: 200px;
        height: 200px;
        margin: 30px 50px;
        background: rgb(163, 163, 163);
        transition: all 0.4s ease-out    
    }
    
}

@media screen and (max-width:700px){
    .logoContainer{
        width: 60%;
        height: 40%;
    }

    .contactoIco{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .lista{
        margin: 30px;
    }
}

@media screen and (max-width:430px){
    .logoContainer{
        width: 70%;
        height: 40%;
    }

    .div2 .ico{
        margin-left: 10px;
    }

    .symfony{
        width: 100px;
        height: auto
    }

}